@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 85%;
    margin: 0 auto;
    font-family: "Mulish", sans-serif;
}

/* Nav Bar */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 17px;
}

.logo h1{
    font-size: 2rem;
}

.logo .travel{
    color: #FF5400;
}

.menu ul{
    display: flex;
    gap: 40px;
}

.menu ul li{
    list-style-type: none;
}


.menu ul li:hover{
    cursor: pointer;
    color: #FF5400;
}

/* *************************************************** */








/* ****************! Media Query !***************** */

@media (max-width: 576px) {
    /* CSS rules for phones */
   
    /* Nav Bar */

    .nav-container{
        flex-direction: column;
    }
    
    .logo{
        flex-direction: column;
    }
    
    .menu ul{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat( 2, 1fr);
        text-align: center;
    }

    .menu ul li{
        background-color: antiquewhite;
        padding: 15px;
        border-radius: 3px;
    }

    .menu ul li.r-full-w{
        grid-column: span 2;
    }

    /* ************************************** */


}

@media (min-width: 577px) and (max-width: 768px) {
    /* CSS rules for tablets */
    .nav-container{
        flex-direction: column;
    }
    
    .logo{
        flex-direction: column;
    }
    
    .menu ul{
        margin-top: 30px;
    }

    .menu ul li{
        background-color: antiquewhite;
        padding: 15px;
        border-radius: 3px;
    }

}

@media (min-width: 769px) and (max-width: 1200px) {
    /* CSS rules for small laptops */
    .nav-container{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 25px;
    }
}


